<template>
  <v-card class="pb-2 ml-5"
          max-width="388">
    <v-img class="pt-4" max-height="260" src="images/CustomerHeaderCompact.png">
      <div class="d-flex align-center flex-column">
        <v-img :src="author.logo" width="80" height="80"></v-img>
        <v-card-title class="pt-2 pb-0 body-1 neutral--text">{{author.name}}</v-card-title>
        <v-card-subtitle class="pb-1 mt-0 text-caption">
          <v-btn text class="text-caption text-none neutral--text">
            {{author.company}}
            <v-icon size="10">
              mdi-arrow-top-right
            </v-icon>
          </v-btn>
        </v-card-subtitle>
        <v-card-actions class="pt-0 ">
          <v-btn
              v-for="({icon}, socialIdx) in author.socials" :key="socialIdx"
              width="34"
              height="28"
              text
              color="white"
              class="author-social-btn">
            <v-icon color="distinct" size="14">
              {{icon}}
            </v-icon>
          </v-btn>
        </v-card-actions>
        <v-card-actions>
          <v-tabs v-model="activeTab" center-active background-color="transparent" class="tabs">
            <v-tabs-slider color="action" class="tabs-slider"></v-tabs-slider>
            <v-tab href="#ticket-details" class="text-none px-2 neutral--text">
              Ticket details
            </v-tab>
            <v-tab href="#project-details" class="text-none px-2 neutral--text">
              Contact details
            </v-tab>
          </v-tabs>
        </v-card-actions>
      </div>
    </v-img>
    <v-tabs-items v-model="activeTab">
      <v-tab-item value="ticket-details">
        <v-list>
          <v-list-item v-for="({name, value}, detailItemIdx) in details" :key="detailItemIdx">
            <v-list-item-content class="body-2">
              <v-row class="align-center">
                <v-col cols="4">
                  <v-list-item-title class="body-2 distinct--text">
                    {{ name }}
                  </v-list-item-title>
                </v-col>
                <v-col>
                  <status-chip v-if="name === 'Status'" :status="value" />
                  <priority v-else-if="name === 'Priority'" :value="value" />
                  <associated v-else-if="name === 'Associated with'" :value="value" />
                  <follower-associate v-else-if="name === 'Followers'" :value="value" />
                  <tags v-else-if="name === 'Tags'" :value="value" />
                  <span v-else class="neutral--text">
                    {{ value }}
                  </span>
                </v-col>
              </v-row>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-tab-item>
      <v-tab-item value="project-details">
        empty content
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script lang="ts">
import Vue from 'vue'
import {Author, TicketDetails} from "@/types/ticket/index.types";
import StatusChip from "./StatusChip.vue";
import Priority from "./Priority.vue";
import Associated from "./../global/Associated.vue";
import FollowerAssociate from './../global/FollowerAssociate.vue'
import Tags from './../global/Tags.vue'
export default Vue.extend({
  name: "Details",
  components: {Priority, StatusChip, Associated, FollowerAssociate, Tags},
  props: {
    author: {
      type: Object as () => Author,
      required: true
    },
    details: {
      type: Array as () => TicketDetails[],
      required: true
    }
  },
  data() {
    return {
      activeTab: 'ticket-details'
    }
  },
})
</script>

<style scoped lang="scss">
.author-social-btn{
  background-color: #fff;
  width: 34px !important;
  min-width: 34px !important;
}
</style>