<template>
  <div class="d-flex">
    <v-icon v-if="iconPath" size="15" :color="iconColor">
      {{iconPath}}
    </v-icon>
    {{value}}
  </div>
</template>

<script>
export default {
  name: "Priority",
  props: {
    value: {
      type: String,
      required: true
    }
  },
  computed: {
    iconPath(){
      switch (this.value){
        case 'High':
        case 'Task':
          return 'mdi-chevron-triple-up'
        default:
          return null
      }
    },
    iconColor(){
      switch (this.value){
        case 'High':
        case 'Task':
          return 'attention'
        default:
          return 'black'
      }
    }
  }
}
</script>

<style scoped>

</style>