<template>
  <v-chip small class="text-uppercase chip font-weight-bold"
          :class="statusClass"
          :color="statusColor">
    {{ status }}
  </v-chip>
</template>

<script>
export default {
  name: "StatusChip",
  props: {
    status: {
      type: String,
      required: true
    }
  },
  computed: {
    statusColor(){
      switch (this.status){
        case 'Open':
          return ''
        case 'Negotiation':
          return ''
        case 'Contact':
          return 'green'
        default:
          return 'primary'
      }
    },
    statusClass(){
      switch (this.status){
        case 'Open':
          return 'vibrant--custom'
        case 'Negotiation':
          return 'purple--custom'
        case 'Contact':
          return 'green'
        default:
          return 'primary'
      }
    }
  }
}
</script>

<style>
  .chip{
    font-size: 10px !important;
  }
  .v-application .chip.v-chip--outlined.v-chip.v-chip.custom-purple-text{
    background-color: #F7F5FA !important;
  }
  .v-application .chip.custom-purple-text .v-chip__content{
    color: #746197 !important;
  }
  .v-application .vibrant--custom{
    background-color: #FEF9F2 !important;
    border: 1px solid #F7D6A6 !important;
    color: #D8902A !important;
  }

  .v-application .purple--custom{
    background-color: #F7F5FA !important;
    border: 1px solid #C7BBDD !important;
    color: #746197 !important;
  }
</style>