<template>
  <v-card>
      <v-card-title class="body-1 neutral--text">{{task.title}}</v-card-title>
      <v-card-subtitle class="distinct--text">{{task.short_description}}</v-card-subtitle>
      <v-card-actions class="d-flex pt-0">
        <line-list class="d-flex align-center body-2 distinct--text">
          <line-list-item class="d-flex">
            <priority :value="task.priority" />
          </line-list-item>
          <line-list-item>
            {{task.step}}
          </line-list-item>
          <line-list-item class="d-flex">
            <v-avatar size="20" class="mr-2">
              <img :src="task.user.logo" />
            </v-avatar>
            <span>{{task.user.name}}</span>
          </line-list-item>
        </line-list>
        <status-chip class="ml-6 ma-2" :status="task.status" />
      </v-card-actions>
      <v-chip class="task-date-reminder text-caption font-weight-medium transparent orange--text">
        {{task.due_date}}
      </v-chip>
  </v-card>
</template>

<script lang="ts">
import LineList from "../LineList/LineList.vue";
import LineListItem from "../LineList/LineListItem.vue";
import StatusChip from "@/components/Ticket/StatusChip.vue";
import Vue from "vue";
import {Task} from "@/types/ticket/index.types";
import Priority from "@/components/Ticket/Priority.vue";
export default Vue.extend({
  name: "Task",
  components: {Priority, StatusChip, LineListItem, LineList},
  props: {
    task: {
      type: Object as () => Task,
      required: true
    }
  }
})
</script>

<style scoped>
  .task-date-reminder{
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
  }
</style>