<template>
  <v-container class="pt-5 ticket-page">
    <v-row>
      <v-col>
        <page-header
            :title="ticket.header"
            :author="ticket.author"
            background-src="images/ticket-bg.png"
            :prev-page="{name: 'Back to tickets'}"
            :tabs="tabs"
            :active-tab="activeTab"
            @change-tab="onActiveTabChange"
        >
          <template v-slot:subheader>
            <line-list class="neutral--text">
              <line-list-item>
                {{ticket.author.name}}
              </line-list-item>
              <line-list-item>
                <a class="neutral--text text-decoration-none" :href="'mailto:'+ticket.author.email">
                  {{ticket.author.email}}
                </a>
              </line-list-item>
              <line-list-item>
                {{ticket.published_at}}
              </line-list-item>
            </line-list>
          </template>
          <template v-slot:right-navigation>
            <div class="d-flex align-center text-caption distinct--text">
              <span class="mr-2">
                1 of 22 tickets
              </span>
              <v-btn color="distinct" x-small icon width="18">
                <v-icon size="18">
                  mdi-chevron-left
                </v-icon>
              </v-btn>
              <v-btn color="distinct" x-small icon width="18">
                <v-icon size="18">
                  mdi-chevron-right
                </v-icon>
              </v-btn>
            </div>
          </template>
          <template v-slot:right-bottom-navigation>
            <div class="d-flex">
              <v-btn color="distinct" text class="text-none text-caption ticket-options-btn">
                <v-icon size="15" class="pr-2">
                  mdi-call-merge
                </v-icon>
                Merge
              </v-btn>
              <v-btn color="distinct" text class="text-none text-caption ticket-options-btn ml-3">
                <v-icon size="13" class="pr-2">
                  mdi-account-plus
                </v-icon>
                Follow
              </v-btn>
              <v-btn color="distinct" text class="text-none text-caption ticket-options-btn ml-3">
                <v-icon size="15" class="pr-3">
                  mdi-dots-vertical
                </v-icon>
                More
              </v-btn>
            </div>
          </template>
        </page-header>
        <div class="d-flex justify-space-between mt-5">
          <div class="w-100">
            <v-tabs-items v-model="activeTab" class="tabs-content">
              <v-tab-item value="open">
                  <div class="d-flex">
                    <v-text-field
                        class="search-input body-2"
                        hide-details="auto"
                        placeholder="Create new activity..."
                        solo
                        background-color="white"
                        color="placeholder"
                        dense
                    >
                    </v-text-field>
                    <v-btn width="40" color="white" height="40" class="ml-3 px-1 search-control-btn">
                      <v-icon color="distinct" size="18">
                        mdi-magnify
                      </v-icon>
                    </v-btn>
                    <v-btn width="40" color="white" height="40" class="ml-3 px-1 search-control-btn">
                      <v-icon color="distinct" size="18">
                        mdi-unfold-more-horizontal
                      </v-icon>
                    </v-btn>
                  </div>
                  <v-alert
                      class="mt-3 d-flex align-center ticket-banner"
                      icon="mdi-information">
                    <v-row align="center">
                      <v-col class="grow  body-2 neutral--text">
                        To view the entire contact history and activity feed, check the contact profile.
                      </v-col>
                      <v-col class="shrink">
                        <v-btn color="white" class="banner-btn text-none text-caption distinct--text">View contract</v-btn>
                      </v-col>
                    </v-row>
                  </v-alert>
                  <task v-for="task in ticket.tasks" class="mt-3" :task="task" :key="task.id" />
              </v-tab-item>
              <v-tab-item value="messages">
                empty
              </v-tab-item>
              <v-tab-item value="followers">
                empty
              </v-tab-item>
              <v-tab-item value="history">
                empty
              </v-tab-item>
            </v-tabs-items>
          </div>
          <Details :author="ticket.author" :details="ticket.details" />
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Task from "./../components/Ticket/Task.vue";
import Details from "./../components/Ticket/Details.vue";
import Vue from "vue";
import {Ticket} from "@/types/ticket/index.types";
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-ignore
import {ticketPlaceholder} from './../placeholder-data/index'
import PageHeader from "@/components/PageHeader.vue";
import LineListItem from "@/components/LineList/LineListItem.vue";
import LineList from "@/components/LineList/LineList.vue";

export default Vue.extend({
  name: "Home",
  components: {PageHeader, Details, Task, LineList, LineListItem},
  data() {
    const ticket : Ticket = ticketPlaceholder
    return {
      ticket,
      tabs: [
          {
            name: 'Messages',
            id: 'messages'
          },
          {
            name: 'History',
            id: 'history'
          },
          {
            name: 'Open',
            counter: 4,
            id: 'open'
          },
          {
            name: 'Followers',
            id: 'followers'
          }
      ],
      activeTab: 'open' as string
    }
  },
  methods:{
    onActiveTabChange(tabId: string): void{
      this.activeTab = tabId
    }
  }
})
</script>

<style scoped lang="scss">
  .tabs-content{
    background: transparent;
  }
  .ticket-options-btn.v-btn{
    background-color: #fff;
  }
  .search-input{
    width: 536px;
  }
  .search-control-btn {
    box-shadow: none;
  }
  .w-100{
    width: 100%;
  }
</style>

<style lang="scss">
.ticket-page{
  .v-btn:not(.v-btn--round).v-size--default{
    min-width: 40px;
  }
  .v-text-field.v-text-field--solo.v-input--dense > .v-input__control{
    min-height: 40px;
  }
  .ticket-banner{
    background-color: #E1EDFA !important;
    .v-alert__wrapper{
      width: 100%;
    }
    .banner-btn{
      box-shadow: none;
    }
    .v-icon.v-icon{
      color: #008CFF;
      align-self: center;
    }
  }
}
</style>