<template>
  <v-navigation-drawer
      permanent
      app
      :mini-variant="mini"
      mini-variant-width="68"
      width="200"
      :dark="!mini"
      :class="{'menu-mini': mini, 'menu-full': !mini}"
  >
    <div class="d-flex flex-column justify-space-between menu-container">
      <v-list>
        <v-list-item v-if="mini" class="mb-8">
          <v-img max-width="18" src="./../assets/logo.svg"></v-img>
          <div class="menu-mini-logo"></div>
        </v-list-item>
        <v-list-item v-for="(menuItem, index) in menu" :key="index" link class="menu-item px-2">
          <v-badge v-if="!mini" class="menu-item-badge"  color="badgeBg" :content="menuItem.counter || 0" :value="menuItem.counter || 0" inline>
            <v-list-item-avatar class="ma-0" tile height="44" width="52">
              <v-btn icon color="grey" height="44" class="menu-item-icon">
                <v-icon size="17" class="text-icon-light">
                  {{menuItem.icon}}
                </v-icon>
              </v-btn>
            </v-list-item-avatar>
            <v-list-item-title class="ml-2 body-2 grey--text">{{menuItem.name}}</v-list-item-title>
          </v-badge>
          <template v-else>
            <v-list-item-avatar tile class="justify-center ma-0" height="44" width="52">
              <v-btn icon color="grey" height="44" class="menu-item-icon">
                <v-badge class="menu-item-badge"  color="badgeBg" :content="menuItem.counter || 0" :value="menuItem.counter || 0" overlap>
                  <v-icon size="17" class="text-icon-light">
                    {{menuItem.icon}}
                  </v-icon>
                </v-badge>
              </v-btn>
            </v-list-item-avatar>
            <v-list-item-title class="ml-2 body-2 grey--text">{{menuItem.name}}</v-list-item-title>
          </template>
        </v-list-item>
      </v-list>
      <v-list>
        <v-list-item class="menu-item px-2" :class="{'menu-item--no-full-width': !mini}">
          <v-btn @click.stop="onToggleBtnClick" icon color="grey" height="44" class="menu-item-icon">
            <v-icon size="17" class="text-icon-light">
              mdi-menu
            </v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
    </div>
  </v-navigation-drawer>
</template>

<script>
export default {
name: "AppMenu",
  data() {
    return {
      mini: true,
      menu: [
        {
          name: 'Home',
          icon: 'mdi-home',
        },
        {
          name: 'Messenger',
          icon: 'mdi-forum',
          counter: 4
        },
        {
          name: 'Tickets',
          icon: 'mdi-email',
          counter: 0
        },
        {
          name: 'Campaigns',
          icon: 'mdi-bullhorn',
          counter: 0
        },
        {
          name: 'Contacts',
          icon: 'mdi-account-multiple',
          counter: 0
        },
        {
          name: 'Tasks',
          icon: 'mdi-clipboard-check',
          counter: 0
        },
        {
          name: 'Deals',
          icon: 'mdi-currency-usd',
          counter: 0
        },
        {
          name: 'Files',
          icon: 'mdi-folder',
          counter: 0
        },
        {
          name: 'Automations',
          icon: 'mdi-motion-play-outline',
          counter: 0
        },
        {
          name: 'Reports',
          icon: 'mdi-chart-box',
          counter: 0
        }
      ]
    }
  },
  methods: {
    onToggleBtnClick() {
      this.mini = !this.mini
    }
  }
}
</script>

<style scoped lang="scss">
  .menu{
    &-container{
      height: 100%;
    }
    &-mini{
      &.theme--light.v-navigation-drawer{
        background-color: #2F2F44;
      }
      &-logo{
        -webkit-mask: url('./../assets/logo.svg') no-repeat center;
        mask: url('./../assets/logo.svg') no-repeat center;
      }
    }
    &-full{
      &.theme--dark.v-navigation-drawer{
        background-image: url('./../assets/full-left-menu-bg.png');
        background-repeat: no-repeat;
        background-position: center -32px;
        padding-top: 52px;
      }
    }
    &-item{
      &.v-list-item{
        min-height: 44px;
      }
      &-icon.v-btn.v-btn--round{
        &:hover{
          border-radius: 8px;
          .v-icon{
            color: #fff !important;
          }
        }
      }
      &:not(.menu-item--no-full-width) &-icon.v-btn.v-btn--round{
        &:hover{
          width: 100%;
        }
      }
    }
  }
</style>
<style lang="scss">
  .menu-mini{
    .menu-item-badge{
      .v-badge__badge{
        width: 15px;
        min-width: 15px;
        height: 12px;
        padding: 0;
      }
    }
  }
  .menu-full{
    .menu-item-badge{
      .v-badge__badge{
        width: 23px;
        min-width: 23px;
        height: 15px;
        padding-top: 2px;
        padding-bottom: 0px;
      }
    }
  }
</style>