<template>
  <v-app-bar
      app
      class="header-container"
      color="white"
  >
    <div class="d-flex justify-space-between header">
        <div class="d-flex">
          <v-btn
              @click="onCreateBtnClick"
              href="https://github.com/vuetifyjs/vuetify/releases/latest"
              color="blue"
              class="white--text mr-3 text-none font-weight-bold"
          >
            Create
          </v-btn>
          <v-text-field
              class="search-input body-2 placeholder--text"
              hide-details="auto"
              placeholder="Search TextMagic workspace"
              solo
              background-color="inputBg"
              dense
          >
            <v-icon size="16" slot="prepend-inner" color="distinct" class="search-input-icon">
              mdi-magnify
            </v-icon>
          </v-text-field>
        </div>
        <div class="d-flex align-center">
          <v-chip color="chipBg" label class="mx-3 text-caption">
            <v-icon size="12" left color="green">
              mdi-checkbox-blank-circle
            </v-icon>
            Online
          </v-chip>
          <v-btn color="distinct" icon x-small class="mx-3">
            <v-icon rounded>
              mdi-calendar
            </v-icon>
          </v-btn>
          <v-btn color="distinct" icon x-small class="mx-3">
            <v-icon rounded>
              mdi-bell
            </v-icon>
          </v-btn>
          <v-btn color="distinct" icon x-small class="mx-3">
            <v-icon rounded>
              mdi-cog
            </v-icon>
          </v-btn>
          <user-menu :user="user" :user-menu="userMenu" />
        </div>

    </div>
  </v-app-bar>
</template>

<script lang="ts">
import Vue from "vue";
import UserMenu from "@/components/UserMenu.vue";

export default Vue.extend({
name: "Header",
  components: {UserMenu},
  data() {
    return {
      userMenu: [
        {
          icon: 'mdi-domain',
          name: 'Workspace'
        },
        {
          icon: 'mdi-account-multiple',
          name: 'Users'
        },
        {
          icon: 'mdi-credit-card-outline',
          name: 'Billing'
        }
      ],
      user: {
        name: 'Robert Overitt',
        email: 'robert.overrit@textmagic.com',
        logo: 'https://s3-alpha-sig.figma.com/img/ed0a/9db3/9bac2813f689d55a412b8de615c49ed5?Expires=1633305600&Signature=A06X3J0PNeLi1eG2FGB3B-3sBTbuAdBjbnmmP4GJAptwsAdu0n6mw3Nfj7n8joq0TOuEyCXzglLoJbhhR4Dipmq6RECKSUskMy0jkHnB2WPm19FbTtyEkIKLJedwo0igIUnX5fgqjWAwx6C-f2F2M2u7ounBBAAKqKp9Pact2-qx6RncTVmSOZyYMSY3TeC1QAkg77hqNdWrotShJW5e7MUEL0QImTqFTdmdX0QtpRyeXyfZ-iyPz27ggt9eqnGm--kRT6xJ29xMDp6-qT62KS61fHwiy0t9GcjBuna3Ogw8Hz~aTOlqoWYIXX3v-gLDpl1xrUOPwHCpTvS9ilwQaA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA',
        companies: [
          {
            title: 'Text Magic',
            logo: 'https://s3-alpha-sig.figma.com/img/9963/468a/69e658e343f04519361b2af1145e23d9?Expires=1633305600&Signature=QRcm7~SiMkgF1kJWCZzhXxh72DcQNaz7YuTBQLW6kBqALmZJF0JX5H5uy9CHiJilnSx4vOrs6oZElj1p5Uo5~2812GfUnrETeJ3hjtpx0Rfr1uRWSEAnyJXy0FA0h3rVeKFYDcxkyxw2sUKIr3Wm7q6AJ~UUdwvppDrN3U9MhU5I2Di~0dwlFI2h2oA4kQ8ku20KPuwQb~SwmJzH5oNMutY~1yGKkfwkdSDzB7KqxwnIwbfhvI2~ovvZ1dyVNLkpp3oUZxLmlfw-~5YQyBDJ0cbZE~CFtfDM2j2Z1Ml404nvqozCvcFy9uQW0CqXr52zbOGkLyTBxzaKEwS51ovklQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA',
            site: 'textmagic.touchpoint.com'
          }
        ]
      }
    }
  },
  methods: {
    onCreateBtnClick(): void{
      return
    }
  }
})
</script>

<style lang="scss">
  .header{
    width: 100%;
    &-container.v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined){
      box-shadow: inset 0px -1px 0px #E6E9F1;
    }
  }
  .search-input{
    width: 320px;
    &.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot{
      box-shadow: none;
    }
    &-icon{
      color: #6E7191 !important;
    }
  }
  .user{
    &-name{
      &.v-btn {
        text-transform: none;
        box-shadow: none;
      }
    }
    &-img{
      border-radius: 50%;
    }
    &-manage-acc-btn{
      &.v-btn{
        text-transform: none;
      }
    }
    &-menu-list-item.v-list-item{
      min-height: 40px;
    }
  }

</style>