<template>
  <v-card class="text-center">
    <v-img :src="backgroundSrc" class="pt-2">
      <v-card-actions class="d-flex justify-space-between navigation-container mt-7">
        <v-btn color="distinct" v-if="prevPage" text class="text-none text-caption">
          <v-icon size="15">
            mdi-chevron-left
          </v-icon>
          {{ prevPage.name }}
        </v-btn>
        <slot name="right-navigation"></slot>
      </v-card-actions>
      <v-card-title class="justify-center mb-2">
        <slot name="header">
          <v-icon color="white" size="33" class="main-icon">
            mdi-email
          </v-icon>
        </slot>
      </v-card-title>
      <v-card-subtitle class="title neutral--text">
        {{ title }}
      </v-card-subtitle>
      <v-card-text>
        <slot name="subheader"></slot>
      </v-card-text>
      <v-card-actions class="d-flex justify-space-between tickets-navigation-container--bottom mb-7">
        <v-tabs v-if="tabs.length > 0"
                :value="activeTab"
                @change="onActiveTabChange"
                center-active
                background-color="transparent">
          <v-tabs-slider class="tabs-slider" color="action"></v-tabs-slider>
          <v-tab v-for="(tab, tabIdx) in tabs" :key="tabIdx" :href="'#'+tab.id"
                 class="text-none distinct--text"
                 :class="{'font-weight-bold': tab.id === activeTab}"
          >
            {{ tab.name }} <span v-if="tab.counter" class="pl-2 text-icon-light article-counter">{{tab.counter}}</span>
          </v-tab>
        </v-tabs>
        <slot name="right-bottom-navigation"></slot>
      </v-card-actions>
    </v-img>
  </v-card>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "PageHeader",
  props: {
    backgroundSrc: {
      type: String,
      required: false,
      default: '@/assets/ticket-bg.png'
    },
    title: {
      type: String,
      required: true
    },
    prevPage: {
      type: Object as () => {
        title: string,
        link?: string
      },
      required: false
    },
    tabs: {
      type: Array as () => {
        name: string,
        counter?: number,
        id?: string
      }[],
      required: false,
      default: () => {
        return []
      }
    },
    activeTab: {
      type: String,
      required: false,
      default: null
    }
  },
  methods: {
    onActiveTabChange(value: string){
      this.$emit('change-tab', value)
    }
  }
})
</script>

<style scoped lang="scss">
.main-icon{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  background: linear-gradient(0deg, #BDCEBD, #BDCEBD);
}
.navigation-container{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  &--bottom{
    bottom: 0;
    top: unset;
  }
}
.article-counter{
  font-size: 12px;
}
.v-tab{
  color: #6E7191;
  &.v-tab--active{
    color: #4E4B66;
  }
}
.tabs-slider.v-tabs-slider{
  background: #008CFF;
  border-radius: 2px 2px 0px 0px;
}
</style>