<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn v-bind="attrs"
             v-on="on"
             small
             outlined
             color="distinct"
             class="user-name user-btn mx-3">
        <span class="pr-2">TextMagic</span> <v-img
          class="user-img"
          contain
          max-width="18"
          :src="user.logo"
      ></v-img>
      </v-btn>
    </template>
    <v-card class="mx-auto pb-2"
            max-width="250">
      <v-img class="pt-4" max-height="140" src="https://s3-alpha-sig.figma.com/img/8606/fbeb/96a39eee11ac63600d1679c21d6fd751?Expires=1633305600&Signature=LucOZhZdIv466BnDaqnUWIY0nZhvq6CC50nO~IwDuGi9lOA80VwpUa83RLirPTBNdeFZjnze6XVfKPQsn7yo5nd~PqhiFrbo6c3wLnLQzcwh3C2GJiQG61hNx~PUigVQehghhECEI-525cJ26KJuMN9fyfss4dERRKaorQ92-SxAzvyYZAJdbDEPETmaNLMo8oI1wC0cdgIETJ1v-deFbMQqVYLwDE4gPvIdXsT330lvPPx3adPEshhmCH9C-kZEJRjfS9zCh~Z33Bwi3aLVE5gLJeAI2aJ3FxoZrxBl4MGGMlzPBB-XWxWaSh~IR7GZcGjpGft7bcJtj9PH4RBy5g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA">
        <div class="d-flex align-center flex-column">
          <v-img :src="user.logo" width="40" height="40"></v-img>
          <v-card-title class="pt-2 pb-0 body-2 neutral--text">{{user.name}}</v-card-title>
          <v-card-subtitle class="pb-1 mt-0 text-caption distinct--text">{{user.email}}</v-card-subtitle>
          <v-card-actions class="pt-0 ">
            <v-btn color="action" small text class="user-manage-acc-btn text-caption">
              Manage account
            </v-btn>
          </v-card-actions>
        </div>
      </v-img>
      <v-list>
        <v-list-item
            v-for="(company, index) in user.companies"
            :key="index"
            link
        >
          <v-list-item-avatar class="mr-3" min-width="34" width="34" rounded>
            <v-btn
                outlined
                color="grey"
                width="34"
                height="34"
                class="pa-0 overflow-hidden"
                min-width="34"
                max-width="34"
            >
              <v-img
                  width="32" height="32"
                  max-width="32"
                  :src="company.logo"
                  alt="John"
              ></v-img>
            </v-btn>
          </v-list-item-avatar>
          <div class="d-flex flex-column align-content-start">
            <v-list-item-title class="align-self-start body-2 neutral--text">{{ company.title }}</v-list-item-title>
            <v-list-item-subtitle class="align-self-start text-caption distinct--text">{{company.site}}</v-list-item-subtitle>
          </div>
          <v-list-item-action class="ml-2">
            <v-icon size="17">mdi-chevron-right</v-icon>
          </v-list-item-action>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list>
        <v-list-item v-for="(menuItem, index) in userMenu" :key="index" color="distinct" class="user-menu-list-item" link>
          <v-list-item-avatar class="mr-3" min-width="34" width="34" height="20" rounded>
            <v-icon size="16">
              {{menuItem.icon}}
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="ml-2 body-2 neutral--text">{{menuItem.name}}</v-list-item-title>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list>
        <v-list-item class="user-menu-list-item" link>
          <v-list-item-avatar class="mr-3" min-width="34" width="34" height="20" rounded>
            <v-icon size="16">
              mdi-logout
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="ml-2 body-2 neutral--text">
            Logout
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
export default {
name: "UserMenu",
  props: {
    user: {
      type: Object,
      required: true
    },
    userMenu: {
      type: Array,
      required: false,
      default: () => {
        return []
      }
    }
  }
}
</script>

<style scoped>
  .user-btn{
    border-color: #E6E9F1 !important;
  }
</style>