<template>
  <li class="mx-1"><slot /></li>
</template>

<script>
export default {
name: "LineListItem"
}
</script>

<style scoped lang="scss">
li{
  display: inline-block;
  &:not(:last-child)::after{
   padding-left: 10px;
   content: "\00b7";
  }
}
</style>