<template>
  <v-app>
    <div class="d-flex">
      <app-menu />
      <m-header />
      <v-main class="content">
        <ticket />
      </v-main>
    </div>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Ticket from "@/pages/Ticket.vue";
import MHeader from "@/components/MHeader.vue";
import AppMenu from "@/components/AppMenu.vue";

export default Vue.extend({
  name: 'App',
  components: {AppMenu, MHeader, Ticket},
  data: () => ({
    //
  }),
});
</script>
<style>
  .content{
    background-color: #F7F7FC;
  }
  .grey-neutral--text{
    color: #4E4B66;
  }
  .grey-distinct--text{
    color: #6E7191;
  }
  .blue-action--text{
    color: #008CFF !important;
  }
  .blue--background{
    background-color: #1192FC;
  }
  .text-icon-light{
    color: #A0A3BD !important;
  }

</style>
