<template>
  <div>
    <v-btn v-for="(selectedUser,selectedUserIdx) in selectedUsers"
           class="btn mr-1 text-none text-caption distinct--text"
           :key="selectedUserIdx" x-small>
      <v-icon size="12" class="pr-1 btn-user-icon">
        mdi-account
      </v-icon>
      {{ selectedUser.name }}
    </v-btn>
    <v-btn class="btn" x-small @click.stop="onAddUserBtnClick" icon>
      <v-icon color="neutral" size="12">
        mdi-plus
      </v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import {User} from "@/types/user.types";

export default Vue.extend({
  name: "Associated",
  props: {
    value: {
      type: Array as () => number[],
      required: false,
      default: () => []
    }
  },
  data() {
    const users : User[] = [
      {
        id: 1,
        name: 'Daisy Moody'
      },
      {
        id: 2,
        name: 'Daisy New'
      }
    ]
    return {
      users
    }
  },
  computed: {
    selectedUsers(): User[]{
      return this.users.filter(user => this.value.includes(user.id))
    }
  },
  methods: {
    onAddUserBtnClick(): void{
      return
    }
  }
})
</script>

<style scoped>
  .btn{
    background-color: #EBEEF5 !important;
    box-shadow: none;
    border-radius: 4px;
  }
  .btn-user-icon{
    color: #6E7191 !important;
  }
</style>