<template>
  <div>
      <v-btn x-small v-for="(user, userIdx) in users" :key="userIdx" icon>
        <v-avatar size="24">
          <img :src="user.logo">
        </v-avatar>
      </v-btn>
      <v-btn x-small
             icon
             class="ml-2 btn-add-user"
      >
      <v-avatar size="24">
        <v-icon color="blue" size="12">
          mdi-plus
        </v-icon>
      </v-avatar>
    </v-btn>
  </div>
</template>

<script lang="ts">
import {Follower} from "@/types/user.types";
import Vue from "vue";

export default Vue.extend({
  name: "FollowerAssociate",
  props: {
    value: {
      type: Array as () => number[],
      required: false,
      default: () => []
    }
  },
  data() {
    const users : Follower[] = [
      {
        id: 1,
        name: 'Daisy Moody',
        logo: 'images/FollowerLogo.png'
      },
      {
        id: 2,
        name: 'Daisy New',
        logo: 'images/FollowerLogo.png'
      },
      {
        id: 3,
        name: 'Daisy New',
        logo: 'images/FollowerLogo.png'
      },
      {
        id: 4,
        name: 'Daisy New',
        logo: 'images/FollowerLogo.png'
      }
    ]
    return {
      users
    }
  },
  computed: {
    selectedUsers(): Follower[]{
      return this.users.filter(user => this.value.includes(user.id))
    }
  },
  methods: {
    onAddUserBtnClick(): void{
      return
    }
  }
})
</script>

<style scoped>
  .btn-add-user{
    background-color: #EFF0F6 !important;
  }
</style>