<template>
  <div>
    <v-btn v-for="(tag,tagIdx) in tags"
           class="btn mr-1 text-none text-caption distinct--text"
           :key="tagIdx" x-small>
      {{ tag }}
    </v-btn>
    <v-btn class="btn" x-small @click.stop="onAddTagClick" icon>
      <v-icon color="neutral" size="12">
        mdi-plus
      </v-icon>
    </v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
import _ from "lodash"

export default Vue.extend({
  name: "Tags",
  props: {
    value: {
      type: Array as () => string[],
      required: false,
      default: () => []
    }
  },
  data() {
    const tags : string[] = []
    return {
      tags
    }
  },
  methods: {
    onAddTagClick(): void{
      return
    }
  },
  mounted(): void {
    this.tags = _.cloneDeep(this.value)
  }
})
</script>

<style scoped>
.btn{
  background-color: #EBEEF5 !important;
  box-shadow: none;
  border-radius: 4px;
}
</style>